version: "3.9"

services:
  tu01-step-ca:
    image: smallstep/step-ca:latest
    container_name: tu01-step-ca
    stdin_open: true       # コンテナを対話モードで開くため
    tty: true              # TTY を割り当てる
    volumes:
      - ./data:/home/step/data:rw       # ホスト側にデータを永続化
      - ./certs:/home/step/certs:rw
      - ./config:/home/step/config:rw
      - ./db:/home/step/db:rw
      - ./scripts:/home/step/scripts:ro
    command: /bin/sh                  # 起動時にシェルを開く
